// 定义变量
@main-color: #006699;

* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

li {
    list-style: none;
}

// 解决主体部分绝对定位的问题
// .mui-scroll-wrapper {
//     top: .45rem;
//     bottom: .45rem;
// }

body {
    padding: .45rem 0;
    height: 100vh;
}

#main {
    // 继承body的高度
    height: 100%;
    // 让miu的滚动区域，参照main绝对定位
    position: relative;
}
// 头部的公共样式
#header {
    background-color: @main-color;
    position: fixed;
    top: 0;
    left: 0;
    height: .45rem;
    width: 100%;
    padding: 0 .45rem;
    z-index: 999;
    h4 {
        margin: 0;
        color: #fff;
        text-align: center;
        line-height: .45rem;
        font-weight: normal;
    }
    form {
        width: 100%;
        height: .45rem;
        padding: .05rem 0;
        input {
            background-color: #fff;
            text-align: left;
            padding: 0;
            padding-left: .1rem;
            margin: 0;
        }
    }
    a {
        display: block;
        height: .45rem;
        width: .45rem;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        text-align: center;
        line-height: .45rem;
        font-size: .18rem;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}

// 底部样式
#footer {
    height: .45rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: @main-color;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 25%;
            a {
                display: block;
                color: #fff;
                text-align: center;
                padding: .085rem;
                span {
                    display: block;
                }
            }
        }
    }
}

// 搜索表单的公共样式

.form-search {
    display: flex;
    padding: .1rem;
    .input-search {
        flex: 1;
        height: .34rem;
        border-color: @main-color;
        margin: 0;
        border-radius: 0.06rem 0 0 0.06rem;
        font-size: .14rem;
    }
    .btn-search {
        width: .6rem;
        height: .34rem;
        background-color: @main-color;
        border-color: @main-color;
        border-radius: 0 0.06rem 0.06rem 0;
        font-size: .14rem;
    }
}

// 商品列表的公共样式
.content {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            a {
                display: block;
                margin-bottom: .1rem;
                box-shadow: 0px 0px 2px hotpink;
                margin: .05rem;
                img {
                    width: 100%;
                }
                p {
                    text-align: center;
                }
                button {
                    background-color: #007aff;
                    color: #fff;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}